*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;

    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(135 28 28);
    /* background-image: url(./zahrin-lukman-vOg8U-JK4Rw-unsplash.jpg); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.container {
    color: rgb(32, 231, 14);
}

input {
    font-size: 18px;
    width: 70%;
    padding: 5px;
}

button {
    width: 70%;
    padding: 10px;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    background-color: rgb(146 146 183);
}

img {
    width: 200px;
    height: 200px;
    border: 2px teal;
}

.container3 {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.small-container {
    border: 2px rgb(204, 11, 11);
    box-shadow: 0 2px 10px chartreuse;
    width: 40vw;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

a {
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
}

a:hover {
    background-color: rgb(104, 209, 6);
}

p {
    font-size: 15px;
    word-wrap: break-word;
    font-style: italic;
    /* box-shadow: 0 2px 8px red; */
    padding: 20px 40px;
}

h2 {
    color: rgb(14, 206, 56);
    font-style: italic;
}

h3 {
    color: rgb(rgb(233, 10, 10), green, blue);
    font-style: italic;
}